@font-face{
    font-family:'moubi';
    src:url('Brush.woff') format("woff"),
        url('Brush.ttf') format("truetype");
}
img{
    max-width: 100%;
    max-height: 100%;
}
.btncreatep{
    position: fixed;
    top:460px;
    right: 65px;
    background:#e76c25;
    border-radius: 50%;
    box-shadow: 2px 1px 5px #e76c25;
    transition: 1.2s;
    -webkit-filter: opacity(30%); /* Safari */
    filter: opacity(30%);
}
@media screen and (min-width:576px){
    .btncreatep{
        top:460px;
        right: 100px;
    }
}
@media screen and (min-width:630px){
    .btncreatep{
        top:460px;
        right: 150px;
    }
}
@media screen and (min-width:768px){
    .btncreatep{
        top:460px;
        right: 210px;
    }
}
@media screen and (min-width:850px){
    .btncreatep{
        top:460px;
        right: 260px;
    }
}
@media screen and (min-width:992px){
    .btncreatep{
        top:460px;
        right: 300px;
    }
}
@media screen and (min-width:1200px){
    .btncreatep{
        top:460px;
        right: 380px;
    }
}
@media screen and (min-width:1400px){
    .btncreatep{
        top:460px;
        right: 450px;
    }
}
.btncreatep:hover{
    -webkit-filter: opacity(30%); /* Safari */
    filter: opacity(100%);
}
a{
    color:#ffffff;
    text-decoration:none;
}
a:link{
    color:#ffffff;
    text-decoration:none;

    }
a:visited {
    color:#ffffff;
    background-color:red;
    }

.PostA:hover{
    color:#ffffff;
    text-shadow: 2px 2px 2px #941a12;
    text-decoration:none;
}
.PostA:hover img{
    transform:  scale(1.03);

    -webkit-filter: brightness(105%); /* Safari */
    filter: brightness(105%);
}
a:active {
    text-decoration:none;
    background-color:gray;
    color:#fafafa;
    }
img{
    transition: 0.4s;
    transform: 2s;
}

.Cboard {
    padding: 20px;
    margin: 5px;
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;

}
.Cboard .content {
    margin: 5px;
    margin-top: 20px;
    float: left;
    
}
    .Cboard .StampButton{
        margin-left: 20px;
    }
    .Cboard .StampButton input{
        font-size: 27px;
        margin-left: 5px;
        color: antiquewhite; border:0;
        background-color:#181717;
        color:#fff;
        border: 1px none #e76c25;
        box-shadow: 2px 2px 6px #e76c25;line-height: 35px;text-align: center;
        border-radius:10px;
        cursor:pointer;
        transition: 0.4s;
    }
    .Cboard .StampButton input:hover{
        color:#fff;
        border:2px #851a1a none;
        text-shadow: 2px 2px 2px #941a12;
        box-shadow: 2px 2px 8px #941a12;
    
    }
    .Cboard .Sbtn{
        color: antiquewhite; border:0;
        background-color:#181717;
        color:#fff;
        border: 1px ridge #e76c25;
        box-shadow: 2px 1px 4px #e76c25;line-height: 40px;text-align: center;
        border-radius:10px;
        cursor:pointer;}
      
        .Cboard .Sbtn:hover{
        color:#fff;
        background-color:rgb(22, 21, 21);
        border:2px #851a1a solid;
        text-shadow: 2px 2px 2px #941a12;
        }
    .Cboard h1 {
        margin-left: 50px;
        font-size: 55px
    }

    .Cboard .imgPostP{
        height: 50%;
    }

        .Cboard .content .article {
            padding: 10px;
            margin: 15px;
            border-bottom: 0.5px double #e76c25;
            border-right: 0.5px solid #e76c25;
            box-shadow: 2px 2px 7px #e76c25;line-height: 100px;text-align: left;
            transition: 0.4s;

        }
        .Cboard .content .article .PostV{
            width: 16%;
            float: right;
            margin-top: 40px;
            margin-left: 5px;
            text-align: center;
    
        }

            .Cboard .content .article h6 {
                font-size: 44px;
            }

            .Cboard .content .article p {
                font-size: 20px;
                background-color: rgb(44, 44, 44);
                line-height: 40px;
                padding: 8px;
                height: 100px;
                width: 70%; 
            }

            .Cboard .content .article h3 {
                margin-top: 5px;
                font-size: 15px;
                float: left;
            }

            .Cboard .content .article h4 {
                font-size: 14px;
                float: right;
                margin-top: 5px;

                margin-right: 10px;
            }
