.Cboard {
    padding: 60px;
    margin: 50px;
    border: none;
}

    .Cboard h1 {
        margin-left: 50px;
        font-size: 50px
    }

    .Cboard .content {
        padding: 20px;
        margin: 40px;
        margin-top: 20px;
        margin-right: 120px;
    }

        .Cboard .content .article {
            padding: 10px;
            margin: 20px 20px;
        }


            .Cboard .content .article h6 {
                font-size: 40px;
            }



            .Cboard .content .article p {
                font-size: 20px;
                background-color: gray;
                line-height: 60px;
                height: 100px;
                width: 70%;
            }

            .Cboard .content .article h3 {
                font-size: 20px;
                float: left;
            }

            .Cboard .content .article h4 {
                font-size: 20px;
                float: right;
                margin-right: 30px;
            }
