@font-face{
    font-family:'moubi';
    src:url('Brush.woff') format("woff"),
        url('Brush.ttf') format("truetype");
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}
a{
    text-decoration:none;
}
a:link{
    background-color:#ffffff;
    text-decoration:none;

    }
a:visited {
    color:#ffffff;
    background-color:red;
    }
a:active {
    text-decoration:none;
    background-color:gray;
    color:#fafafa;
    }
.zenbu{
    padding: 10px;
    margin: 5px;
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
    border-bottom: 1px double #e76c25;
    box-shadow: 2px 2px 4px #e76c25;text-align: left;
    font-size: 18px;
    color: #fafafaea;
}
        .zenbu td{
            width: 70%;
        }
        .zenbu th{
         font-size: 25px;
        }
        .zenbu td input{
            width: 80%;
        }
        .zenbu td .button{
            width: 40%;
        }
input{

}
        .zenbu select{
          color: #fafafaea;
          border-radius:10px;
        }
        .zenbu input{
            width: 20%;
            color: #fafafaea;
            color: antiquewhite; border:0;
            background-color:#181717;
            border: 1px ridge #e76c25;
            box-shadow: 2px 1px 4px #e76c25;text-align: center;
            border-radius:10px;
            cursor:pointer;
        }
        .zenbu .T{
            width: 80%;
        }
        .zenbu #txtPostCotent{
            color: #fafafaea;
        }
    textarea{
        color: #fafafaea;
    }
.kobi{
    padding: 10px;
    margin: 5px;
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
    border-bottom: 1px double #e76c25;
    box-shadow: 2px 2px 4px #e76c25;
    font-size: 22px;
    color: #fafafaea;   
}
.kobi input{
    color: antiquewhite; border:0;
    background-color:#181717;
    border: 1px ridge #e76c25;
    box-shadow: 2px 1px 4px #e76c25;text-align: center;
    border-radius:10px;
    cursor:pointer;
}
.kobi th{
    width: 100%;
}
.kobi td{
    width: 150%;
    text-align: left;
}
.cbtn{
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
            border: 1px ridge #e76c25;
    box-shadow: 2px 2px 4px #e76c25;text-align: center;
    font-size: 22px;
    color: #fafafaea;
    border-radius:10px;
    width: 20%;

    margin-left: 85px;
}