@font-face{
    font-family:'moubi';
    src:url('Brush.woff') format("woff"),
        url('Brush.ttf') format("truetype");
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

.zenbu{
    padding: 10px;
    margin: 5px;
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
    text-align: left;
    font-size: 18px;
}
        .zenbu td{
            width: 70%;
            font-size: 18px;
        }
        .zenbu th{
         font-size: 25px;
        }
        .zenbu td input{
            width: 80%;
        }
        .zenbu td .button{
            width: 60%;
            font-size: 18px;
        }
        .zenbu select{
          border: 1px none #e76c25;
          box-shadow: 2px 1px 5px #e76c25;
          border-radius:10px;
          font-size: 18px;
        }
.zenbu select option {
    background: #100f10;
    background-color: #100f10;
}
        .zenbu textarea{
            border: 1px none #e76c25;
            box-shadow: 2px 1px 4px #e76c25;
            width: 90%;
        }
        .zenbu input{
            width: 20%;
            border: 1px none #e76c25;
            box-shadow: 2px 1px 4px #e76c25;
            border-radius:10px;
            cursor:pointer;
            transition: 0.4s;

        }
        .zenbu .dougu{
            border: 1px ridge #a31515;
            margin-bottom: 2px;

        }
        .zenbu .dougu:hover{
        }
        .zenbu input:hover{
            box-shadow: 2px 2px 4px #cc2626;
        }
        .zenbu input:active{
        }
        .zenbu td .kakutei{
            width: 25%;
            
        }
        .zenbu .T{
            width: 80%;
        }
        .zenbu #txtPostCotent{
        }
    textarea{
    }
.kobi{
    padding: 10px;
    margin: 5px;
    width: 97.5%;
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
    font-size: 22px;
}
.kobi input{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
    border: 1px ridge #e76c25;
    text-align: center;
    border-radius:10px;
    cursor:pointer;
}
.kobi img{
    width: 50%;
}
.kobi th{
    width: 20%;
}
.kobi .T{
    width: 100%;
}
.kobi td{
    width: 80%;
    text-align: left;
}
.cbtn{
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
    border: 1px none #e76c25;
    box-shadow: 2px 2px 6px #e76c25;text-align: center;
    font-size: 22px;
    border-radius:10px;
    width: 20%;
    float: right;
    transition: 0.4s;

}
.cbtn:hover{
    border: 1px double #cc2626;
    box-shadow: 2px 2px 6px #cc2626;
}