@font-face{
    font-family:'moubi';
    src:url('Brush.woff') format("woff"),
        url('Brush.ttf') format("truetype");
}
a{
    text-decoration:none;
}
a:link{
    background-color:#ffffff;
    text-decoration:none;

    }
a:visited {
    color:#ffffff;
    background-color:red;
    }
a:active {
    text-decoration:none;
    background-color:gray;
    color:#fafafa;
    }
.MainPost{
    padding: 20px;
    margin: 5px;
    border: none;
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
    border: 1px double #e76c25;
    box-shadow: 2px 2px 6px #e76c25;line-height: 100px;text-align: left;
}
        .MainPost .mpostall{
            padding: 20px;
            margin: 20px;
        }
        .MainPost .PostT{
            font-size: 44px;
        }
        .MainPost .Postbtn{
            color: antiquewhite; border:0;
            background-color:#181717;
            color:#fff;
            border: 1px ridge #e76c25;
            box-shadow: 2px 1px 4px #e76c25;line-height: 40px;text-align: center;
            border-radius:10px;
            cursor:pointer;
            float: right;
        }
        .MainPost .Postbtn:hover{
            color:#fff;
            background-color:rgb(22, 21, 21);
            border:2px #851a1a solid;
            text-shadow: 2px 2px 2px #941a12;
        }
        .MainPost 



