@font-face{
    font-family:'moubi';
    src:url('Brush.woff') format("woff"),
        url('Brush.ttf') format("truetype");
}
@media screen and (min-width:490px){
    .MainPost .Postbtn div{ line-height: 18px;}
    .MainPost .PostM{font-size: 14px;line-height: 18px;}
}
@media screen and (min-width:630px){
    .CNNmPost .CNNmT{width: 80%;}
}
img{
    max-width: 100%;
    max-height: 100%;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}
a{
    color:#ffffff;
    text-decoration:none;
}
a:link{
    color:#ffffff;
    text-decoration:none;

    }
a:visited {
    color:#ffffff;
    }
a:active {
    text-decoration:none;
    color:#fafafa;
    }
div{
    /* border: 2px solid rgb(194, 194, 194); */
}
.MainPost{
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
    font-family:'moubi';
    padding-left: 0px;
    text-shadow: 2px 2px 2px #270c0c;
    border-bottom: 0.5px double #e76c25;
    border-right: 0.5px solid #e76c25;
    box-shadow: 2px 2px 7px #e76c25;text-align: left;
}
        .MainPost .mpostall{
            padding: 20px;
            margin: 20px;
            margin-top: 0px;
        }
        
        .MainPost .PostT{
            font-size: 45px;
            float: left;
            width: 90%;
            line-height: 40px;
            margin-bottom: 10px;
        }
        .MainPost .PostF{
            font-size: 17px;
            float: right;
            width: 10%;
            line-height: 40px;
            margin-bottom: 10px;
            text-align: center;
        }
       .MainPost .btnl{
        margin-top: 10px;
       }
        .MainPost .Postbtn{
            margin-left: 130px;
            margin-right: -10px;
        }
        .MainPost .Postbtn div{
            color: antiquewhite; border:0;
            background-color:#181717;
            margin-right: -2px;
            border: 1px none #e76c25;
            box-shadow: 2px 2px 7px #e76c25;line-height: 25px;text-align: center;
            border-radius:10px;
            cursor:pointer;
            float: right;
            transition: 0.4s;

        }
        .MainPost .Postbtn div input{
            color:#fff;
        }
        .MainPost .Postbtn div:hover{
            color:#fff;
            border:1px #851a1a solid;
            text-shadow: 2px 2px 5px #941a12;
        }
        
        .MainPost .PostM{
            font-size: 17px;
            width: 42%;
            line-height: 35px;
            margin-left: 10px;
        }
        .MainPost .PostC{
            font-size: 22px;
            width: 90%;
            margin-top: 30px;
            float: left;
        }
        .MainPost .allpht{
            float: left;
            text-align: center;
            width: 80%;
            margin-left:36px;
            margin-top: -10px;
        }
        .MainPost .pht{
            color:rgba(248, 204, 145, 0.904);
            width: 15%;
            float: left;
            transition: 1s;
            margin-left: 4px;
            border: 1px none #a75410;
            border-radius:10px;
            font-style: italic;
            text-shadow: 1px 1px 2px rgb(138, 80, 5);


        }  
        .MainPost .pht:hover{
            color:rgb(228, 229, 155);
            text-shadow: 2px 2px 5px #941a12;
            box-shadow: 2px 2px 4px #a52818;

        }
.nomainPost{
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
    border-bottom: 1px double #e76c25;
    box-shadow: 2px 2px 5px #e76c25;text-align: left;
}
        .nomainPost .nmpostall{
            padding: 20px;
            margin: 22px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .nomainPost .nmF{
            font-size: 17px;
            float: right;
            width: 10%;
            line-height: 25px;
            text-align: center;
            margin-left: 10px;

        }
        .nomainPost .nmbtn{
            margin-left: 120px;
            margin-right: -5px;
        }
        .nomainPost .nmbtn div{
            color: antiquewhite; border:0;
            background-color:#181717;
            border: 1px none #e76c25;
            box-shadow: 2px 1px 4px #e76c25;line-height: 25px;text-align: center;
            border-radius:10px;
            cursor:pointer;
            float: right;
            margin-top: -5px;
            transition: 0.4s;

        }
        .nomainPost .nmbtn div input{
            color:#fff;
            cursor:pointer;
        }
        .nomainPost .nmbtn div:hover{
            color:#fff;
            background-color:rgb(22, 21, 21);
            border:2px #851a1a solid;
            text-shadow: 2px 2px 2px #941a12;
        }
        
        .nomainPost .nmM{
            font-size: 17px;
            width: 42%;
            line-height: 25px;
        }
        .nomainPost .nmC{
            font-size: 22px;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            float: left;
        }
.CNNmPost{
    padding: 10px;
    margin: 5px;
    margin-top: 40px;
    font-family:'moubi';
    text-shadow: 2px 2px 2px #270c0c;
    border-bottom: 1px double #e76c25;
    box-shadow: 2px 2px 5px #e76c25;
    transition: 0.4s;

    
}
        .CNNmPost input{
            color:#fafafa;
        }
        .CNNmPost .CNNmT{
            width: 60%;
            line-height: 28px;
            margin-left: 20px;
            border: 0.3px none #e76c25;
            box-shadow: 2px 2px 7px #e76c25;line-height: 35px;text-align: center;
        }
        .CNNmPost .CNNmT:hover{
            color:#fff;
            background-color:rgb(22, 21, 21);
            border:1px #851a1a solid;
            text-shadow: 2px 2px 5px #941a12;
        }
        .CNNmPost .CNNmB{
            margin-left: 20px;
            font-size: 22px;
            border: 1px none #e76c25;
            box-shadow: 2px 2px 7px #e76c25;line-height: 40px;text-align: center;
            border-radius:10px;
            cursor:pointer;
            transition: 0.4s;

        }
        .CNNmPost .CNNmB:hover{
            color:#fff;
            background-color:rgb(22, 21, 21);
            border:1px #851a1a solid;
            text-shadow: 2px 2px 5px #941a12;
        }