* {
    /*background-color: #181717;*/
    background-color: #070100;
    /*     background-color: blue; */
}
/*---------SU-3/30增加---------*/
.Cname {
    width: 80%;
}


/*.container-all {
    display: flex;
    align-items: stretch;
}*/
/*#sidebar {
    width: 250px;
    height: 100%;
    background-color: #ff6a00;
    color: white;
    transition: 1s;
}*/
/*    #sidebar.active {
        margin-left: -250px;
    }
*/
/*.container-right {
    background-color: lavender;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 30px;
}*/
/*.collapse-btn {
    position: relative;
    top: 1%;
    left: 260px;
    background-color: rgb(77, 77, 77);
    color: white;
    border: none;
    font-size: 30px;
    padding: 5px;
}*/
/*    .collapse-btn:hover {
        background-color: rgb(105, 105, 105);
        transition: 0.4s;
    }*/
/*#sidebar p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: white;
}

    #sidebar ul li a:hover {
        color: rgb(77, 77, 77);
        background: #fff;
    }

.fas,
.far,
.fab {
    float: right;
}*/
/*ul ul li a {
    background-color: rgb(203, 142, 247);
    font-size: 20px;
    font-style: italic;
}

@media (max-width:700px) {
    #sidebar {
        margin-left: -150px;
        width: 150px;
        font-size: 20px;
    }

    .collapse-btn {
        position: relative;
        top: 1%;
        left: 160px;
    }

    #sidebar.active {
        margin-left: 0px;
    }

    #sidebar ul p {
        font-size: 18px;
        text-align: left;
    }
}
*/
/*=====================�¦W��====================*/
/*.blacklist {*/
/*border: none;*/
/*}

    .blacklist .BLsearch {
        margin: 60px 30px;
        border: none;
    }*/
/*        .blacklist .BLsearch #txtBLsearch {
            width: 100%;
            height: 60px;
            margin: 20px auto;
            background-color: white;
            font-size: 28px;
        }*/
/*::placeholder {
    text-align: center;
    font-size: 28px;
}*/
/*.blacklist .BLsearch #btnBLsearch {
    float: right;
    height:40px;
    width:100px;
    background-color:gainsboro;
    font-size:24px;
}*/
/*--------------------------------*/
/*
.blacklist .BLmember {
    border: none;
    margin-top: 100px;
    border-top: dashed red;
    padding-top:30px;
}



.blacklist .BLmember h1{
    text-align:center;
    margin-bottom: 30px;
}

    .blacklist .BLmember span {
        margin:0px 45px 0px 50px;
        font-size:32px;
        color:black;
    }

    .blacklist .BLmember input {
        height: 40px;
        width: 60px;
        background-color: gainsboro;
        margin-bottom: 30px;
        font-size: 20px;
    }
*/
/*--------------------------------*/
#btnRegister {
    background-color: white;
    font-size: 22px;
    width: 75px;
    height: 50px;
}


#btnwebLogin {
    background-color: white;
}


#imgMember_PicPath {
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.MemberStatus {
    float: inherit;
    margin: 0 auto;
    width: auto;
    height: 100%
}

.memberstatusleft {
    float: left;
    width: 60%;
    height: 100%;
}

    .memberstatusleft span {
        float: right;
    }

.memberstatusright {
    padding-top: 10px;
    float: left;
    width: 40%;
    height: 100%;
}

.MemberStatus input {
    background-color: white;
}

/*--------------------------------*/
.Notify {
    position: relative;
}

.Notifytext {
    position: fixed;
    z-index: -999;
    border: 1px solid black;
    height: 100px;
    width: 300px;
    background-color: white;
    text-align: left;
    bottom: 30px;
    right: 50px;
}

    .Notifytext h3 {
        background-color: white;
        color: red;
        font-size: 26px;
    }

    .Notifytext span {
        background-color: white;
        color: black;
    }

#btnNotify {
    background-color: white;
}
