################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

.vs/

obj/

slnx.sqlite/

Logs/

bin/

*.dll

*.csproj.user

*.pdb

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# 專案客製
# FileDownload/
/images/16.mp4
